.container {
    width: 1000px;
    margin: 0px auto;
    margin-top: 5px;
    padding: 5px;
    border: 1px solid #cccccc;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(240, auto);
}

.item {
    border: 1px solid #cccccc;
    padding: 5px;
}